<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" width=150 height=150 id="logo" alt="Sketch by Michela Gazzetto"/>
    {% endif %}
  </a>
  <h2>Hi! I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm an Erasmus Mundus PhD student in Neuroinformatics under the
        supervision of
        <a href="http://homepages.inf.ed.ac.uk/mhennig/index.html">
            Matthias Hennig</a> at the University of Edinburgh and of
            <a href="https://www.kth.se/profile/arvindku/"> Arvind Kumar</a>
            at KTH in Stockholm. I was awarded the 2016
        <a href="http://googleresearch.blogspot.co.uk/2016/03/announcing-2016-google-phd-fellows-for.html">
            Google European Fellowship</a> in Computational Neuroscience.  </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
