<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" width=150 height=150 id="logo" alt="Sketch by Michela Gazzetto"/>
    {% endif %}
  </a>
  <h2>Hi! I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> I'm a teacher and a learner</p>
    <p>Previously, I was a postdoc at the
      <a href="https://ai.ethz.ch/">ETH AI Center</a> and
      <a href="https://www.ini.uzh.ch/en.html">Institute of Neuroinformatics</a>
      of the University of Zürich and ETH, where I worked on learning in spiking neural networks.
    <p>My papers are on <a href="https://scholar.google.se/citations?user=pQmRdm4AAAAJ&hl=en">Scholar</a>.</p>
      
    <p></p>I also teach <a href="https://software-carpentry.org/">Software Carpentry</a>,
    train new instructors, and participate in governance. </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
